.header {
  display: flex;
  justify-content: space-between;
  // background-color: rgb(0, 0, 0);

  color: white;
  align-items: center;

  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
}
.logo {
  // padding: 1.6rem 1rem;
  & img {
    width: 12rem;
    padding: 0.6rem;
    margin-left: 1rem;
  }
}
.nav {
  margin-right: 1rem;
  & ul {
    display: flex;
  }
  & a {
    padding: 0.6rem 1rem;
    margin-right: 1rem;
  }
}
