.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background: transparent;
  color: white;
  align-items: center;
  // background-color: black;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: 0.5s ease;
  & img {
    // regular logo styles
    // ......................
    // width: 12rem;
    // padding: 0.6rem;
    // ......................

    width: 16rem;
    width: 13rem;
    padding: 0.6rem;
  }
}

// padding: 1.6rem 1rem;

.nav {
  margin-right: 1rem;
  transition: all 0.3s;
  @include max-1000 {
    position: fixed;
    top: 0;
    right: 0;
    padding: 2rem;
    height: 100vh;
    background-color: white;
    color: black;
    margin-right: 0;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    &.nav--open {
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.387);
      transform: translateX(0);
    }
  }
  & ul {
    display: flex;
    @include max-1000 {
      // justify-self: center;
      flex-direction: column;
      gap: 2rem;
    }
  }
  & a,
  & button {
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-right: 1.4rem;
    transition: 0.2s;
    @include max-1000 {
      font-size: 1.6rem;
      // color: black;
    }
    // &:hover {
    //   color: $gold;
    // }
  }
  & .practice-areas-link {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
  & .practice-areas-dropdown {
    display: flex;
    opacity: 0;
    visibility: hidden;
    // height: 0;
    flex-direction: column;
    position: absolute;
    gap: 1rem;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.56);
    padding: 1rem;
    transition: 0.3s ease;
  }
  .dropdown-open {
    opacity: 1;
    visibility: visible;
    // height: auto;
  }
  & .hover-underline-animation {
    display: flex;
    position: relative;
    // color: white;
  }

  & .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $gold;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  & .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
