#team {
  max-width: 80rem;
  //   display: flex;
  & .team-cards {
    display: flex;
    justify-content: space-between;
    @include max-900 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    @include max-700 {
      gap: 1rem;
    }
    @include max-440 {
      grid-template-columns: 1fr;
    }
  }
  & .card-image {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding-top: 130%;
    position: relative;
    overflow: hidden;
  }

  .card {
    width: 23%;
    @include max-900 {
      width: 100%;
    }
    @include max-440 {
      padding: 1rem;
    }
    & .card-text {
      padding: 1rem;
      background-color: $gold;
      color: $text--dark;
    }
    & .card-name {
      font-size: 1.1rem;
      font-weight: bold;
    }
    & .card-title {
      font-style: italic;
      margin-top: 0.2rem;
    }
  }
  & .card-one .card-image {
    background-image: url(./images/team.jpg);
  }
  & .card-two .card-image {
    background-image: url(./images/team-2.jpg);
  }
  & .card-three .card-image {
    background-image: url(./images/team-3.jpg);
  }
  & .card-four .card-image {
    background-image: url(./images/team-4.jpg);
  }
}
