html {
  font-size: 110%;
  @include max-1200 {
    font-size: 100%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
section {
  max-width: 70rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 2rem;
  @include max-700 {
    padding: 1rem;
  }
}
h2,
h4 {
  color: $text--dark;
}
.section-header {
  border-left: 5px solid $gold;
  padding-left: 0.6rem;
  margin-bottom: 2rem;
  & p {
    font-style: italic;
    color: #666;
    margin-bottom: 0.2rem;
  }
  & h2 {
  }
}
